:root {
    --primary-colour: #ffe1aa99;
    --secondary-colour: #750E25;
    --coca-cola-red: #E61D2B;
    --dr-pepper-read: #d51143;
    --sprite-green: #008B47;
}

html {scroll-behavior: smooth;}

@font-face {
    font-family: cocaColaFont;
    src: url(../assets/fonts/lokicola.ttf)
}

body {
    padding-bottom: 5px;
}

.soda-cards {
    padding-top: 50px;
    padding-bottom: 50px;
}

.soda-cards button {
    color: white;
}

.card {
    padding-top: 10px;
    padding-bottom: 15px;
}

.logo {
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif; 
}


.logo-font>h1,
.logo-font>h2 {
    font-family: cocaColaFont !important;
}

.logo-subtitle {
    font-size: 10px;
    font-weight: 200;
    text-align: center;
}

/*
 * Navbar styling
*/
.main-navbar{
    background-color: var(--secondary-colour);
}

.navbar-brand{
    transition:0.4s;
}

.navbar-brand:hover{
    color: var(--coca-cola-red) !important;
}

.navbar-brand h1{
    font-size:45px;
    display:inline;
}
.navbar-brand h2{
    margin-top: 10px;
    font-size:45px;
    display:inline;
}
.navbar-brand h3{
    display:inline;
}

.navbar-toggler{
    border: 0 !important
}
.navbar-toggler:focus{
    box-shadow: none !important
}

/*
 * Hero styling
 */
.hero {
    position: relative;
    height: 100vh;
    background-color: var(--secondary-colour);
    overflow: hidden;
}

.hero-content {
    z-index: 1;
}

.content {
    padding-bottom: 20px;
}

.hero-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: 0.4s;
}
.hero-btn:hover {
    color: white;
    opacity: 0.6;
}

.top-content {
    margin-top:111px;
}

.canvas {
    position:relative;
}

.canvas-buttons {
    position:absolute;
    padding-top: 10px;
    padding-left: 20px;
    display: inline;
}